[Desktop Entry]
Exec=flatpak run --user org.mozilla.firefox --class=wah-9zibqcxn --name=wah-9zibqcxn --profile=/home/vscode/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/9zibqcxn --no-remote https://www.youtube.com
Icon=/workspaces/web-app-hub/dev-assets/icons/YouTube.png
Name=Dev Firefox app
StartupWMClass=wah-9zibqcxn
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=org.mozilla.firefox
X-WAH-ID=9zibqcxn
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/vscode/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/9zibqcxn
X-WAH-URL=https://www.youtube.com
X-WAH-VERSION=0.0.1

